mixin product( obj )
	// Product
	article.product&attributes( attributes )
		.product-body
			.product-figure: +img( obj.img )
			h5.product-title: a( href= links.product )= obj.title
			.product-price-wrap
				if( obj.priceOld )
					.product-price.product-price-old= '$' + obj.priceOld
				.product-price= '$' + obj.price
		if( obj.priceOld )
			span.product-badge.product-badge-sale Sale
		if( obj.new == true )
			span.product-badge.product-badge-new New
		.product-button-wrap
			if ( obj.buttonStyle2 === true )
				.product-button: a.button.button-gray-14.button-zakaria.fl-bigmug-line-search74( href= links.product )
				.product-button: a.button.button-primary-2.button-zakaria.fl-bigmug-line-shopping202( href='#' )
			else if ( obj.buttonStyle3 === true )
				.product-button: a.button.button-style-2.button-zakaria.fl-bigmug-line-search74( href= links.product )
				.product-button: a.button.button-primary-2.button-zakaria.fl-bigmug-line-shopping202( href='#' )
			else
				.product-button: a.button.button-secondary.button-zakaria.fl-bigmug-line-search74( href= links.product )
				.product-button: a.button.button-primary.button-zakaria.fl-bigmug-line-shopping202( href='#' )

mixin product-horizontal( obj )
	// Product
	article.product-modern&attributes( attributes )
		.unit.unit-spacing-0( class= obj.unit )
			.unit-left: a.product-modern-figure( href= links.product ): +img( obj.img )
			.unit-body: .product-modern-body
				h4.product-modern-title: a( href= links.product )= obj.title
				.product-price-wrap
					if( obj.priceOld )
						.product-price.product-price-old= '$' + obj.priceOld + '.00'
					.product-price= '$' + obj.price + '.00'
				p.product-modern-text= obj.text ? obj.text : 'Sed eleifend, lacus nec bibendum pulvinar, nibh mauris vehicula augue, sit amet mattis ligula lorem eu nisl. Integer a egestas'
				a.button.button-primary.button-zakaria( href='#' ) Add to cart

		if( obj.priceOld )
			span.product-badge.product-badge-sale Sale
		if( obj.new == true )
			span.product-badge.product-badge-new New

mixin product-minimal( obj )
	// Product Minimal
	article.product-minimal&attributes( attributes )
		.unit.unit-spacing-sm( class= obj.unit )
			.unit-left: a.product-minimal-figure( href= links.product ): +img( obj.img )
			.unit-body
				p.product-minimal-title: a( href= links.product )= obj.title
				p.product-minimal-price= '$' + obj.price + '.00'

mixin product-beth( obj )
	// Product Beth
	article.product-beth&attributes( attributes )
		.product-beth-badge= obj.badge
		h2.product-beth-title: a( href= links.product )= obj.title
		h4.product-beth-subtitle= obj.subtitle
		p.product-beth-text= obj.text
		.group-md.group-middle
			a.button.button-lg.button-primary-2.button-zakaria( href= links.product ) Learn more
			a.button.button-lg.button-default-outline.button-zakaria( href= links.shop ) View all

mixin product-dawn( obj )
	// Product Dawn
	a.product-dawn( href= links.shop )&attributes( attributes )
		.unit.unit-spacing-0.align-items-center( class= obj.unit )
			.unit-left: .product-dawn-figure: +img( obj.img )
			.unit-body
				.product-dawn-title
					.heading-3.product-dawn-title-big= obj.title
					.heading-5.product-dawn-title-small= obj.title2
				.product-dawn-price= 'From $' + obj.price + '.00'
				.button.button-sm.button-icon-3.product-dawn-button: span.mdi.mdi-arrow-right

mixin product-terri( obj )
	// Product Terri
	article.product-terri&attributes( attributes )
		h3.product-terri-title: a( href= links.product )= obj.title
		.product-terri-price-wrap
			if( obj.priceOld )
				.product-terri-price.product-terri-price-old= '$' + obj.priceOld + '.00'
			.product-terri-price= '$' + obj.price + '.00'
		.product-terri-figure: +img( obj.img )
