//- Quote

mixin quote-classic( obj )
	// Quote Classic
	article.quote-classic&attributes( attributes )
		.quote-classic-text: .q= obj.text

		if( obj.author )
			.quote-classic-author= obj.author

mixin quote-classic-big( obj )
	// Quote Classic Big
	article.quote-classic-big&attributes( attributes )
		.heading-3.text-transform-capitalize.quote-classic-big-text: .q= obj.text

mixin quote-modern( obj )
	// Quote Modern
	article.quote-modern&attributes( attributes )
		.quote-modern-text: .q= obj.text ? obj.text : 'Organic agriculture considers the medium- and long-term effect of agricultural interventions on the agro-ecosystem. It aims to produce food'
		.unit.unit-spacing-sm.flex-column.flex-md-row.align-items-center
			.unit-left: .quote-modern-figure: +img( obj.img )
			.unit-body
				.quote-modern-author= obj.author
				.quote-modern-status= obj.status

mixin quote-creative( obj )
	// Quote Creative
	article.quote-creative&attributes( attributes )
		.quote-creative-text: .q= obj.text ? obj.text : 'Cum exsul crescere, omnes plasmatores visum fatalis'
		.quote-creative-rating
			span.icon.mdi.mdi-star
			span.icon.mdi.mdi-star
			span.icon.mdi.mdi-star
			span.icon.mdi.mdi-star
			span.icon.mdi.mdi-star
		.unit.unit-spacing-sm.flex-column.flex-md-row.align-items-center
			.unit-left: .quote-creative-figure: +img( obj.img )
			.unit-body: .quote-creative-author= obj.author

mixin quote-carly( obj )
	// Quote Carly
	article.quote-carly&attributes( attributes )
		.quote-carly-text: .q= obj.text

		.quote-carly-footer
			.unit.unit-spacing-sm.flex-column.flex-md-row.align-items-center
				.unit-left: .quote-carly-figure: +img( obj.img )
				.unit-body
					.quote-carly-author= obj.author
					.quote-carly-status= obj.status
