//- Team

mixin team-classic( obj )
	article.team-classic&attributes( attributes )
		a.team-classic-figure( href='#' ): +img( obj.img )
		h4.team-classic-name: a( href='#' )=obj.name
		p.team-classic-text= obj.text ? obj.text : 'Stimulates vast a real proven works discount secure care. Market invigorate'
		+widget-list( [], '', 'team-classic-list-social list-social-2 list-inline-sm' )

mixin team-modern( obj )
	article.team-modern&attributes( attributes )
		a.team-modern-figure( href='#' ): +img( obj.img )
		h5.team-modern-name: a( href='#' )=obj.name
		p.team-modern-text= obj.text ? obj.text : 'Lorem ipsum dolor sit amet consec tetuer adipiscing elit sed diam sed'
		+widget-list( [], '', 'team-modern-list-social list-social-2 list-inline-sm' )

mixin team-creative( obj )
	article.team-creative&attributes( attributes )
		.team-creative-header
			a.team-creative-figure( href='#' ): +img( obj.img )
			.team-creative-decor
		.team-creative-body
			h4.team-creative-name: a( href='#' )=obj.name
			p.team-creative-text= obj.text ? obj.text : 'Stimulates vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes'
			+widget-list( [], '', 'team-creative-list-social list-social-2 list-inline-sm' )

mixin team-amy( obj )
	article.team-amy&attributes( attributes )
		a.team-amy-figure( href='#' ): +img( obj.img )
		.team-amy-caption
			.team-amy-text Hi! I’m
			h5.team-amy-name: a( href='#' )= obj.name
			.team-amy-status= obj.status
			+widget-list( [], '', 'team-amy-list-social list-social-2 list-inline-sm' )

mixin team-karen( obj )
	article.team-karen&attributes( attributes )
		.team-karen-header
			a.team-karen-figure( href='#' ): +img( obj.img )
			svg( x='0px', y='0px', width='330px', height='245px', viewBox='0 0 330 245', enable-background='new 0 0 330 245' )
				path( d='M305,0v206.855c0,7.26-5.373,13.145-12,13.145H37c-6.627,0-12-5.885-12-13.145V0H0v245h330V0H305z' )

		.team-karen-body
			h4.team-karen-name: a( href='#' )= obj.name
			.team-karen-status= obj.status
			+widget-list( [], '', 'team-karen-list-social list-social-2 list-inline-md' )
