.aside.row.row-30.row-md-50.justify-content-md-between
	.aside-item.col-12
		h6.aside-title Filter by Price
		// RD Range
		.rd-range(
		data-min='0',
		data-max='999',
		data-min-diff='100',
		data-start='[66, 635]',
		data-step='1',
		data-tooltip='false',
		data-input='.rd-range-input-value-1',
		data-input-2='.rd-range-input-value-2'
		)
		.group-xs.group-justify
			div
				button.button.button-sm.button-secondary.button-zakaria( type='button' ) Filter
			div
				.rd-range-wrap
					.rd-range-title Price:
					.rd-range-form-wrap
						span $
						input.rd-range-input.rd-range-input-value-1( type='text', name='value-1' )
					.rd-range-divider
					.rd-range-form-wrap
						span $
						input.rd-range-input.rd-range-input-value-2( type='text', name='value-2' )

	.aside-item.col-sm-6.col-md-5.col-lg-12
		h6.aside-title Categories
		ul.list-shop-filter
			li
				label.checkbox-inline
					input( name='input-group-radio', value='checkbox-1', type='checkbox' )
					| All
				span.list-shop-filter-number (18)
			li
				label.checkbox-inline
					input( name='input-group-radio', value='checkbox-2', type='checkbox' )
					| Fruits
				span.list-shop-filter-number (9)
			li
				label.checkbox-inline
					input( name='input-group-radio', value='checkbox-3', type='checkbox' )
					| Berries
				span.list-shop-filter-number (5)
			li
				label.checkbox-inline
					input( name='input-group-radio', value='checkbox-4', type='checkbox' )
					| Smoothies
				span.list-shop-filter-number (8)

		// RD Search Form
		form.rd-search.form-search( action='search-results.html', method='GET' )
			.form-wrap
				input.form-input( id='search-form', type='text', name='s', autocomplete='off' )
				label.form-label( for='search-form' ) Search the shop...
				button.button-search.fl-bigmug-line-search74( type='submit' )

	.aside-item.col-sm-6.col-lg-12
		h6.aside-title Popular products
		.row.row-10.row-lg-20.gutters-10
			.col-4.col-sm-6.col-md-12
				+product-minimal({
					unit: 'flex-column flex-md-row align-items-center',
					img: 'product-mini-1-106x104',
					title: 'Forest Berry',
					price: '18'
				})
			.col-4.col-sm-6.col-md-12
				+product-minimal({
					unit: 'flex-column flex-md-row align-items-center',
					img: 'product-mini-2-106x104',
					title: 'Carrots',
					price: '24'
				})
			.col-4.col-sm-6.col-md-12
				+product-minimal({
					unit: 'flex-column flex-md-row align-items-center',
					img: 'product-mini-3-106x104',
					title: 'Strawberry',
					price: '13'
				})
