//- Image
	@param {string} name
mixin img( name, options )
	-
		var size = getImageSize( name );
		if( options && options.retina ) { size[0] = ~~(size[0]/2); size[1] = ~~(size[1]/2); }
	img( src= procImg( name ), alt='', width= size[0], height= size[1] )&attributes( attributes )


//- Loop without indexing mixin
	@param {number} iterations - number of iterations
mixin loop( iterations )
	- for ( var i = 0; i < iterations; i++ )
		block


//- Loop without indexing mixin
	@param {number} iterations - number of iterations
mixin loop( iterations )
	- for ( var i = 0; i < iterations; i++ )
		block


//- Parallax Section
	@param {object} obj - parameters storage
	@param {string} obj.img - image path
	@param {string} obj.innerClass - content wrapper class
mixin parallax( obj )
	section.parallax-container( data-parallax-img= procImg( obj.img ) )&attributes( attributes )
		.parallax-content( class= obj.innerClass )
			block


//- Breadcrumbs
	@param {Array}  [path] - other navigation path
	@example +breadcrumbs([ { title:'About Us', link:'about-us.html' }, { title:'Team member' } ])
mixin breadcrumbs( obj, path )
	-
		if ( !path ) {
			if ( breadcrumbs && breadcrumbs.length ) path = breadcrumbs;
			else path = [{ title: pageName }];
		}

	section.breadcrumbs-custom
		.parallax-container( data-parallax-img= procImg( obj.img ) )
			.breadcrumbs-custom-body.parallax-content.context-dark
				.container
					h2.text-transform-capitalize.breadcrumbs-custom-title= path[ path.length - 1 ].title
					if( obj.text )
						h5.breadcrumbs-custom-text!= obj.text
		.breadcrumbs-custom-footer: .container
			if ( path[0].title.toLowerCase() !== 'home' )
				ul.breadcrumbs-custom-path
					li: a( href='index.html' ) Home
					- for ( var i = 0; i < path.length; i++ )
						if ( i === path.length - 1 )
							li.active= path[i].title
						else
							li: a( href= path[i].link )= path[i].title


//- Main Navigation
mixin navigation( menu, type )
	if( !type )
		ul.rd-navbar-nav&attributes( attributes )
			each item in menu
				li.rd-nav-item( class= { active: item.active } )
					a.rd-nav-link( href= item.link )= item.title
					if( item.dropdown )
						+navigation( item.dropdown, 'dropdown' )
					if( item.megamenu )
						+navigation( item.megamenu, 'megamenu' )

	else if( type === 'dropdown' )
		ul.rd-menu.rd-navbar-dropdown
			each item in menu
				li.rd-dropdown-item( class= { active: item.active } )
					a.rd-dropdown-link( href= item.link )= item.title
					if( item.dropdown )
						+navigation( item.dropdown, 'dropdown' )

	else if( type === 'column' )
		each item in menu
			+navigation( item, 'block' )

	else if( type === 'block' )
		if (menu.title && menu.link)
			h6.rd-megamenu-title
				span.rd-megamenu-icon( class= menu.icon )
				a.rd-megamenu-text( href= menu.link )= menu.title
		else if (menu.title)
			h6.rd-megamenu-title
				span.rd-megamenu-icon( class= menu.icon )
				span.rd-megamenu-text= menu.title
		if (menu.list)
			+navigation( menu.list, 'list' )

	else if( type === 'list' )
		ul.rd-megamenu-list
			each item in menu
				li.rd-megamenu-list-item
					a.rd-megamenu-list-link( href= item.link )= item.title


//- Logo
mixin logo
	//Brand
	a.brand( href='index.html' )&attributes( attributes )
		+img( logo.default, { retina: true } ).brand-logo-dark
		+img( logo.inverse, { retina: true } ).brand-logo-light
		block

//- Copyright
mixin rights
	p.rights&attributes( attributes )
		span &copy;&nbsp; 
		span.copyright-year
		span &nbsp;
		span= logo.name
		span .&nbsp; All rights reserved.
		span &nbsp;
		a( href='privacy-policy.html' ) Privacy Policy
		span .


//- Social List Widget
//- socials - an array of {link}
//- iclass - icon class
//- lclass - list class

mixin widget-list(socials, iclass, lclass)
	- var iclass = iclass ? " " + iclass : " icon-xxs"
	- var lclass = lclass

	ul.list-inline( class=lclass )
		if( socials.length )
			each link in socials
				li: a( href=link.href, class=link.icon + iclass )
		else
			li: a( href='#', class='icon mdi mdi-facebook' )
			li: a( href='#', class='icon mdi mdi-twitter' )
			li: a( href='#', class='icon mdi mdi-instagram' )
			li: a( href='#', class='icon mdi mdi-google-plus' )
